body{
	font-family: Optima;
}

p {
	margin-bottom: 5%;
}

/*This is for the title and udacity logo*/

#landing-doc-masthead{
	text-align: center;
}
#template-doc-masthead{
	text-align: left;
}
#logo{
	max-width: 40px;
	max-height: 40px;
	align: middle;
}

.doc-masthead{
	color: black;
	text-decoration: none;
	height: 150px;
	max-height: 15%;
}

h1{
	font-size: 40px;
	color: rgba(131, 132, 132, 0.8);
	margin-left: 2%;
	vertical-align: middle;
	line-height: 150px;
}

/*This is the title of the topic*/

.doc-header{
	text-align: center;
	color: #6b7377;
}


/*For the proper spacing between elements*/

.bio{
	margin-top: 5px;
}

.card, .doc-header{
	margin-bottom: 2%;
}

/*This is the navigation pane*/

.flex-column{
	font-size: 18px;
	padding-right: 50%;
	padding-left: 5%;
}
.nav-link{
	color: #2DB2E1;
	text-align: left;
}
.nav-link:hover {
	background-color: rgba(186, 188, 188, 0.2);
}

/*Styling for the sections of the topic*/


.card-header{
	background: linear-gradient(to right, rgba(35, 172, 252, 0.5), rgba(239, 131, 227, 0.4));
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0.5px 0.5px grey;
}
.card{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card-body{
	font-size: 19px;
	background: #f9fafc;
}

/*This is a filler for the templates, likely replaced based on individual contributors needs*/

#youTube{
	max-width: 400px;
	max-height: 300px;
	display:block;
    margin:auto;
}

/*For the bottom link for future contribution*/

.contribute{
	text-align: center;
	margin-bottom: 2%;
}
